spring:
  application.name: task-management
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      #schema-locations: classpath:db/schema.sql
      data-locations: classpath:db/data.sql

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          #import_files: 'classpath:db/data.sql'

logging.config: "classpath:logback.xml"

management:
  endpoints:
    web:
      exposure:
        include: health, heapdump, threaddump, loggers
      base-path: /src/main/java/